/* KEYFRAMES */

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}

.white-grad {
  --b: 5px; /* border width*/

  color: #313149;
  display: inline-block;
  margin: 10px;
  width: 250px;
  aspect-ratio: 1;
  position: relative;
  z-index: 3;
  text-align: center;
  line-height: 250px;
  color: #bcffdf;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  font-family: "GmarketSans";
}

.white-grad:before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background: var(
    --c,
    linear-gradient(to right, rgba(63, 249, 220, 0.1) 33%, #bcffdf)
  );
  padding: var(--b);
  border-radius: 50%;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  animation: spin 0.8s linear 0s infinite;
}
